node_modules
npm-debug.log*
.npm
.nyc_output
.coverage
.dist
.build
.next
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.vscode
.idea
*.log
coverage
.turbo
dist
build
.git
.gitignore
README.md
**/*.md
.dockerignore
Dockerfile
docker-compose*.yml
.github
docs
scripts
